 <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block head %}
        <title>InChurch - Home</title>
        {% endblock %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
      <body  style="background-color: #50C878">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'accounts:home' %}">InChurch</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

             {% if user.is_authenticated %}

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:full_profile' %}">Profile Detail<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:update_profile' %}">Update Info</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link disabled" href="{% url 'accounts:change_pass' %}">Change Password</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link disabled" href="{% url 'accounts:delete_profile' user.id %}">Delete Profile</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link disabled" href="{% url 'accounts:create_department' %}">New Department</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link disabled" href="#">Delete Departmment</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link disabled" href="{% url 'accounts:logout' %}">Logout</a>
                  </li>
                </ul>

                  <picture>{{ user.profile_pict }}</picture>   {# Foto usuário #}
                  <h4>Welcome, {{ user.fullname }}!</h4>       {# Nome Completo #}
                  <br/>
                  <h6>Department: {{ user.department }}</h6>  {# Departamento #}

             {% else %}

                 <h2><a href="{% url 'accounts:login' %}">Login</a></h2>     {# Caso usuario não esteja autenticado retorna home com link para a pagina de login #}

             {% endif %}
          </div>
        </nav>

        <div class="content">

            {% block content %}{% endblock %}

        </div>
      </body>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </html>

