{% extends 'base.html' %}


{% block content %}
     <form method="post">
       <div class="container" style="text-align: center">
             <div class="card card-login mx-auto mt-5">
                 <div class="card-body">
                     <div class="form-group">
                         <div class="form-label-group">
                             <h1>Changes Confirmed!</h1>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    </form>
{% endblock %}