{% extends 'base.html' %}


{% block content %}
     <form method="post">
       <div class="container" style="text-align: center">
             <div class="card card-login mx-auto mt-5">
                 <h4>New Department</h4>
                 <div class="card-body">
                     <div class="form-group">
                         <div class="form-label-group">
                             {% csrf_token %}
                             {{ form.as_table }}
                         </div>
                         <br/>
                         <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
                     </div>
                 </div>
             </div>
         </div>
    </form>
{% endblock %}