{% extends 'base.html' %}

{% block content %}
    <div class="container" style="text-align: center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="reset">Submit</button>
        </form>
    </div>
{% endblock %}