{% extends 'base.html' %}

{% block content %}
     <form method="post">
       <div class="container" style="text-align: center">
             <div class="card card-login mx-auto mt-5">
                 <h4>Profile Detail</h4>
                 <div class="card-body">
                     <div class="form-group">
                         <div class="form-label-group">
                             <p>Username: {{ user.fullname }}</p>       {# Nome completo usuario #}
                             <p>Department: {{ user.department }}</p>   {# Departamento usuario #}
                             <p>Email: {{ user.email }}</p>             {# Email usuario #}
                                {% if user.profile_img %}
                                    <img src="{{ user.profile_img.url }}" width="240">      {# Imagem Usuario #}
                                {% endif %}
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    </form>
{% endblock %}