{% load staticfiles %}

<title>InChurch - Register</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% block content%}
    <body style="background-color: #50C878">
    <form method="post">
         <div class="container" style="text-align: center">
             <div class="card card-login mx-auto mt-5">
                 <h4>User Register</h4>
                 <div class="card-body">
                     <div class="form-group">
                         <div class="form-label-group">

                              {% csrf_token %}
                              {{ form.as_p }}

                         </div>
                          <button type="submit" class="btn btn-secondary btn-lg btn-block">Register</button>
                     </div>
                     <div class="text-center">
                         <a class="d-block small mt-3" href="{% url 'accounts:login' %}">Login Page</a>
                     </div>
                 </div>
             </div>
         </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
{% endblock %}